<!-- src/app/app.component.html -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular</a>

      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<jwplayer source="https://videoaulas.infra.grancursosonline.com.br/564afe295161b94c3dcc76ab8ec071b3/c65758a1c2194076f002c12886654d0e/c65758a1c2194076f002c12886654d0e.mp4" 
  thumb="https://videoaulas.infra.grancursosonline.com.br/thumb/c65758a1c2194076f002c12886654d0e/c65758a1c2194076f002c12886654d0e.jpg" 
></jwplayer>

<main class="container">
  <router-outlet></router-outlet>
</main>